.welcome {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 10000;

  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.welcome__wrapper {
  position: relative;
  overflow: hidden;

  height: 450px;
  width: 420px;
  margin-inline: 15px;
  background-color: white;

  font-weight: 700;

  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.welcome__exitIcon {
  position: absolute;
  right: 10px;
  top: 10px;

  fill: black;
  stroke: black;

  cursor: pointer;
  z-index: 10000000;
}
.welcome__firstPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;

  width: 80%;
  margin-inline: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-block: 10px;

  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.welcome__wrapper > h1 {
  position: relative;
  top: 15px;

  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  background-clip: text;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  color: transparent;
}
.welcome__firstPart > p {
  position: relative;
  right: 108px;
}
.welcome__firstPart > ul {
  display: flex;
  gap: 20px;
}
.welcome__firstPart > span {
  position: relative;
  left: 112px;
}

.welcome__main {
  margin-inline: 10px;
  padding: 10px;

  text-align: center;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.welcome__main > h3 {
  font-size: 1.5rem;
}
.welcome__main > p {
  margin-top: 10px;

  font-size: 1rem;
  color: red;
}
.useInstead {
  margin-top: 10px;

  font-size: 0.8rem;
  font-weight: 400;
}
.welcome__main ul {
  margin-block: 10px;
}
.welcome__wrapper h6 {
  margin-top: 30px;

  text-align: center;
  font-size: 1.2rem;
}
