.navbar {
  position: absolute;
  right: 12%;
  top: 50px;
}
@media only screen and (max-width: 800px) {
  .navbar {
    right: 0%;
    width: 100%;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.profile__logout {
  position: absolute;
  right: 16px;
  bottom: -17px;
  font-size: 12px;
  cursor: pointer;
  color: blue;
}
.navbar__link {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: blue;
  padding: 10px;
  border-radius: 30px;
  animation: inAnimFade 500ms ease-in-out;
}
.user__profile {
  display: flex;
  align-items: center;
  animation: inAnimFade 500ms ease-in-out;
  position: relative;
}
.profile__icon {
  width: 40px;
  height: 40px;
  margin-inline: 15px;
  cursor: pointer;
}
