.navbar {
  position: absolute;
  right: 80px;
  top: 50px;
}
.navbar__link {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: blue;
  padding: 10px;
  border-radius: 30px;
  animation: inAnimFade 500ms ease-in-out;
}
.user__profile {
  display: flex;
  align-items: center;
  animation: inAnimFade 500ms ease-in-out;
}
.profile__icon {
  width: 40px;
  height: 40px;
  margin-inline: 15px;
  cursor: pointer;
}
