.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 1000000000000;

  width: 100%;
  height: 100%;
  background-color: rgba(170, 210, 153, 0.2);

  color: white;

  transition: all 300ms ease-in-out;
  animation: LoaderInAnim 300ms ease-in-out;
}
@keyframes LoaderInAnim {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
.half-circle-spinner,
.half-circle-spinner * {
  box-sizing: border-box;
}

.half-circle-spinner {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
}

.half-circle-spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(60px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
  border-top-color: #ff1d5e;
  animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
  border-bottom-color: #ff1d5e;
  animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
