.todos {
  height: 350px;
  margin-top: 15px;
  background-color: var(--clr-bg-light);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s ease-in-out;
}
.todos::-webkit-scrollbar {
  width: 5px;
  border-radius: 15px;
}
.todos::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

.todos::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, blue, red);

  border-radius: 15px;
  transition: all 3s ease-in-out;
}

.todos::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to top, red, blue);
}

.todos__item {
  box-sizing: border-box;
  height: 50px;
  position: relative;
  border-bottom: 1px solid var(--clr-border);
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: space-between;
  animation: inAnim 800ms ease-in-out;
  transition: all 1s ease-in-out;
}
@keyframes inAnim {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    height: 60px;
  }
  100% {
    height: 50px;
  }
}
.todo__left {
  display: flex;
  transition: all 1s ease-in-out;
}
.todo__left > p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  padding-top: 3px;
  color: var(--clr-font-primary);
}
.todos__item:hover > .todo__options > * {
  scale: 1;
}
.todo__options {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

.todo__penIcon {
  scale: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: hsl(235, 19%, 35%);
  transition: all 300ms ease-in-out;
}
.todo__penIcon:hover {
  fill: var(--clr-font--transition);
}

.todo__crossIcon {
  scale: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 300ms ease-in-out;
  fill: #494c6b;
}
.todo__crossIcon:hover {
  fill: var(--clr-font--transition);
}

.options {
  display: grid;
  grid-template-areas:
    "optionLeft optionBtnGroup optionBtnGroup optionRight"
    "optionLeft optionBtnGroup optionBtnGroup optionRight";
  grid-auto-columns: 1fr;
  align-items: center;
  padding-inline: 20px;
  margin-top: 15px;
  height: 50px;
  border-radius: 5px;
  box-shadow: rgb(180 177 155 / 29%) 0px 0px 16px 5px;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--clr-bg-light);
  color: var(--clr-font-dark);
  transition: all 1s ease-in-out;
}
@media (max-width: 1160px) {
  .options {
    grid-template-areas:
      "optionLeft optionLeft optionRight optionRight"
      "optionBtnGroup optionBtnGroup optionBtnGroup optionBtnGroup";
    place-items: center;
    height: 70px;
  }
  .options__selectBtnGroup {
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5px;
  }
  .option__btn {
    margin-top: 5px;
  }
}

.option__btn {
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.option__left {
  grid-area: optionLeft;
  text-align: left;
}
.option__right {
  grid-area: optionRight;
  text-align: right;
  white-space: nowrap;
}

.option__btn:hover {
  color: var(--clr-font--transition);
}

.options__selectBtnGroup {
  display: flex;
  gap: 1rem;
  font-weight: 700;
  font-size: 15px;
  grid-area: optionBtnGroup;
}

.options__selectBtnGroup > * {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.options__selectBtnGroup > *:hover {
  color: var(--clr-font--transition);
}
