.input__checkBox {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 20px;
  height: 20px;
  margin-inline: 20px;

  cursor: pointer;
  border-radius: 50%;
  box-shadow: var(--box-shadow-checkBox);
  transition: none;
}
.input__checkBox::before {
  content: "";

  display: none;

  position: absolute;
  z-index: -1;

  width: 110%;
  height: 110%;

  border-radius: 50%;
  background: linear-gradient(to left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.input__checkBox[data-checked="active"]:hover::before {
  display: block;
}
.input__checkBox[data-checked="active"]:hover {
  background-color: var(--clr-bg-light);
}

.input__checkBox[data-checked="completed"]::before {
  display: block;
  transition: all 1s ease-in-out;
}
